.favorite{
    text-align: center;
    padding: 10px 40px;
   
    &-card{
        display: flex;
        justify-content: center;
        cursor: pointer;
        div{
            display: flex;
            gap: 30px;
            @media(max-width:768px){
                display: flex;
                flex-direction: column;
            }
        }
        img{
            width: 200px;
            transition: all .3s;
            &:hover{
                transform: scale(1.2);
            }
            
        }
    }
    &-article{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}