.header{
    z-index: 10;
    width: 70%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 20px;
   
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--header-hight);
        &-logo{
            color: var(--first-color);
            font-size: 25px;
            font-weight: var(--font-semi-bold);

        }
        &-list{
            display: flex;
            column-gap: 40px;          
        }
        &-link{
            color: var(--white-color);
            white-space: nowrap;
            font-weight: var(--font-medium);
            &:hover{
                color: var(--first-color);
                transition: color .5s;
            }
            @media(max-width:768px){
                display: none;
            }
        }
        &-icon{
            display: none;
            font-size: 25px;
            margin-right: -100px;
            cursor: pointer;
            &:hover{
            color: var(--first-color);
            scale: 1.06;
            transition: .5s;
            }
           @media(max-width:768px){
            display: block;
           }

            
        }
       
    }
   
}
.blur-header::after{
    content: "";
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    backdrop-filter: blur(32px);
    --webkit-backdrop-filter:blur(10px);
    background-color:hsla(23, 12%, 4%, 0.2);

}